<launch>
<!-- args --> 
    <!-- Behzad's workstation ip --> 
    <!-- arg name="host_ip" value="10.157.34.101" /--> 
    <!--arg name="host_ip" value="10.157.90.51" /-->
    <!-- Hasans's workstation ip --> 
    <!--arg name="host_ip" default="10.157.90.49" /-->
    <!-- Hasans's direct connection ip --> 
    <!-- arg name="host_ip" default="169.254.250.191" / -->
    <!-- Wenzhi's workstation ip -->
    <!-- arg name="host_ip" default="10.157.90.62" /-->
    
    <!-- setting DEBUG to false prevents publishing and subscribing to rviz /--> 
    <!-- also planning to prevent stdio stuff(if they really matter)--> 
    <arg name="DEBUG" value="true" /> 
    <arg name="host_ip"/>
    <arg name="localization_method"/>
    <param name="ros_DEBUG" type="bool" value="$(arg DEBUG)" />
    <arg name="all_front"/>

    <!-- set this to "" if you don't want perf -->
    <arg name="my_launch_prefix" value="" /> 
    <!-- arg name="my_launch_prefix" value="/home/nvidia/install/perf/perf record -g fp"/ -->
    

     <arg name="param_file" value="$(find mapping_and_sar)/resource/mapping.yaml" />

    <!-- starting nodes --> 
	<!-- Point-cloud publisher -->
 	<node pkg="airsim_img_publisher" type="airsim_imgPublisher" name="airsim_imgPublisher" output="screen">
		<!-- IP of the Airsim computer -->
	    <param name="all_front" value="$(arg all_front)"/>	
        <param name="localization_method" value="$(arg localization_method)" />
        <param name="Airsim_ip" value="$(arg host_ip)" />

        <param name="loop_rate" value="20" />

		<!-- Port of the Airsim computer (this is default, do not change!) -->
		<param name="Airsim_port" value="41451"/>

        <!-- RGB camera parameters (parameters when calibrated) -->
        <param name="Fx" value="256"/>
        <param name="Fy" value="256"/>
        <param name="cx" value="256"/>
        <param name="cy" value="144"/>
        <param name="scale_x" value="512"/>  <!-- Width when calibrated!-->
        <param name="scale_y" value="288"/> <!-- Height when calibrated!-->
        <param name="width" value="512"/>  <!-- Width when calibrated!-->
        <param name="height" value="288"/> <!-- Height when calibrated!-->

        <comment> 
        <param name="Fx" value="200"/>
        <param name="Fy" value="200"/>
        <param name="cx" value="200"/>
        <param name="cy" value="150"/>
        <param name="scale_x" value="400"/>  <!-- Width when calibrated!-->
        <param name="scale_y" value="300"/> <!-- Height when calibrated!-->
        <param name="width" value="400"/>  <!-- Width when calibrated!-->
        <param name="height" value="300"/> <!-- Height when calibrated!-->
		</comment>
        
        
        <param name="maxDist" value="50.0"/> 
        <!-- Depth baseline -->
        <param name="Tx" value="0.14"/>
        <param name="scale" value="0.38"/> 
    
		<!-- Topic with odometry information for the vehicle (used to create tf tree) -->
	    <!-- we are not using the odomTopic since arisim is not providing it at themoment -->	
        <param name="odomTopic" value="/mavros/local_position/odom"/>
	</node>

    <!-- publishing pose values --> 
    <arg name="mav_name" default="airsim_qc" />
    <node pkg="mapping_and_sar" type="publish_pose" name="publish_pose" output="screen">
        <param name="localization_method" value="$(arg localization_method)"/>
        <param name="ip_addr" value="$(arg host_ip)"/>
    </node>
	
    <!-- /group --> 
    
    <!-- Nodelet manager for this pipeline -->
	<node pkg="nodelet" type="nodelet" args="manager" name="depth_transforms_manager"/>

	<!-- Convert to point cloud -->
	<!-- Convert to point cloud -->
	<node pkg="nodelet" type="nodelet" name="cloudify"
	args="load depth_image_proc/point_cloud_xyz depth_transforms_manager --no-bond">

		<!-- Input: Camera calibration and metadata.  (sensor_msgs/CameraInfo) -->
		<remap from="rgb/camera_info" to="/Airsim/camera_info"/> 
		<!-- Input: Rectified depth image -->
		<remap from="image_rect" to="/Airsim/depth_front"/>

    </node>
    
	<node pkg="nodelet" type="nodelet" name="cloudify_2"
 	args="load depth_image_proc/point_cloud_xyz depth_transforms_manager_2 --no-bond">

		<!-- Input: Camera calibration and metadata.  (sensor_msgs/CameraInfo) -->
		<remap from="rgb/camera_info" to="/Airsim/camera_info"/> 
		<!-- Input: Rectified depth image -->
		<remap from="image_rect" to="/Airsim/depth_back"/>
		<remap from="points" to="/points_back"/>
    </node>
  
</launch>
