<launch>
    <node pkg="compare_octomaps" type="compare_octomaps" name="compare_octomaps" output="screen">
    <param name="octomap_file" value="/home/nvidia/catkin_ws/mapfile2.bt" />
    <param name="minX" value="0"/>
    <param name="minY" value="0"/>
    <param name="minZ" value="0"/>
    <param name="maxX" value="10"/>
    <param name="maxY" value="10"/>
    <param name="maxZ" value="10"/>
    <param name="resolution" value=".4"/>
    </node>

</launch>
